p {
    font-family: Arial;
    text-align: center;
    margin-top: 0;
  }

  .roJo {
    color: red;
    margin-bottom: 10px;
  }

  .tiTul {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .masBig {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 15px;
  }

  .boTon {
    background-color: rgb(44, 44, 239);
    color: white;
    font-weight: bold;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 20px;
    margin-left: 325px;
    cursor: pointer;
  }