p {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.titulO {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 12px;
}

.underline {
    text-decoration: underline;
}
